@tailwind base;
@tailwind components;
@tailwind utilities;


body{
}
.text-stroke {
  -webkit-text-stroke:2px #000; 
  color: transparent; 
}

.dark .text-stroke {
  -webkit-text-stroke:1px #fff;
  color: transparent;
}
.container{
  @apply w-[80%] mx-auto ;
  
}
.head-line-gradient {
  background: linear-gradient(to right, #fffdfc, #701b92); /* تدرج لوني */
  -webkit-background-clip: text; /* استخدام القص الخلفي للنص */
  color: transparent; /* جعل النص شفافًا لكي يظهر التدرج */
}


